<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head><h2>Please Complete the Form Below to Add a New Restaurant</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="alias">Restaurant Alias</label>
        <input type="text" formControlName="alias" placeholder="Please enter your restaurant name lower cased with dashes like this: collins-pizza" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alias.errors }" />
        <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
            <div *ngIf="f.alias.errors.required">Alias is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="name">Restaurant Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Restaurant Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="image_url">Restaurant Profile Image URL</label>
        <input type="text" formControlName="image_url" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.image_url.errors }" />
        <div *ngIf="submitted && f.image_url.errors" class="invalid-feedback">
        </div>
    </div>
    <div class="form-group">
        <label for="transactions">Pickup or Delivery?</label>
        <input type="text" formControlName="transactions" placeholder="Please enter either pickup or delivery below" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.transactions.errors }" />
        <div *ngIf="submitted && f.transactions.errors" class="invalid-feedback">
            <div *ngIf="f.transactions.errors.required">Choice of Pickup or Delivery is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="display_phone">Phone Number</label>
        <input type="text" formControlName="display_phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.display_phone.errors }" />
        <div *ngIf="submitted && f.display_phone.errors" class="invalid-feedback">
            <div *ngIf="f.display_phone.errors.required">Phone Number is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add Restaurant
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>