<div class="list-group-item">
  <h6>Creator Id</h6>
  <p>{{ review.creatorId }}</p>
  <h6>Timestamp</h6>
  <p>{{ review.timestamp }}</p>
  <h6>Text</h6>
  <p>{{ review.text }}</p>

  <h6>Ratings:</h6>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Overall:</th>
        <td>{{ review.ratings.overall }}</td>
      </tr>
      <tr>
        <th scope="row">Food:</th>
        <td>{{ review.ratings.food }}</td>
      </tr>
      <tr>
        <th scope="row">Drinks and Bar:</th>
        <td>{{ review.ratings.drinksAndBar }}</td>
      </tr>
      <tr>
        <th scope="row">Price:</th>
        <td>{{ review.ratings.price }}</td>
      </tr>
      <tr>
        <th scope="row">Service:</th>
        <td>{{ review.ratings.service }}</td>
      </tr>
      <tr>
        <th scope="row">Specials and Happy Hour:</th>
        <td>{{ review.ratings.specialsAndHappyHour }}</td>
      </tr>
      <tr>
        <th scope="row">Music:</th>
        <td>{{ review.ratings.music }}</td>
      </tr>
      <tr>
        <th scope="row">Restrooms:</th>
        <td>{{ review.ratings.restrooms }}</td>
      </tr>
    </tbody>
  </table>
</div>
