/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: Roboto, sans-serif, Helvetica;
    margin: 0;
    padding: 0;
    border: 0;
}

mat-card {
    max-width: 85%;
    margin: 2em auto;
    text-align: center;
  }
  
  .mat-toolbar {
    justify-content: space-between;
  }
  
  mat-icon {
    vertical-align: middle;
  }