<div class="row">
  <div class="col-md-auto">
    <div>
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let restaurant of restaurants"
      >
        <div class="pull-left">
          <h4 class="list-group-item-heading">
            {{ restaurant.name }}
          </h4>
          <p class="list-group-item-text">Rating: {{ restaurant.rating }}</p>
          <p
            class="list-group-item-text"
            *ngFor="let c of restaurant.categories"
            style="color: black;"
          >
            {{ c.title }}
          </p>
        </div>
        <span class="pull-right">
          <img
            [src]="restaurant.image_url"
            alt="{{ restaurant.name }}"
            class="img-responsive"
            style="max-height: 200px;"
          />
        </span>
        <app-restaurant-detail></app-restaurant-detail>
      </a>
    </div>
    <app-restaurant-item></app-restaurant-item>
  </div>
</div>
